<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela incial</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <!-- Sidebar -->
    <div class="sidebar">
        <div id="opcoesMenu">
            <h4 class="text-center">Menu</h4>                        
            <a href="../views/cadastro.html" class="nav-link">Cadastro de Usuário</a>
            <a href="../views/usuarios.html" class="nav-link">Usuários Cadastrados</a>            
        </div>        
    </div>

    <!-- Main Content -->
    <div class="content" id="main-content">
        <div id="inicio">
            <h2>Início</h2>
            <p>Bem-vindo ao sistema de Cadastro de usuário!</p>
        </div>
        <div id="conteudo"></div>
    </div>
</body>
</html>
